.App {
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  width: 96%;
  border: 1px solid;
  margin: 1em 2% 1em 2%;
  height: 20%;
}

.body {
}

.rightBox {
  float: right;
  width: 22%;
  border: 1px solid;
  margin: 0 2% 0 0;
  height: 70%;
  overflow: scroll;
}

.window {
  float: left;
  width: 72%;
  border: 1px solid;
  margin: 0 0 0 2%;
  height: 70%;
}

.sudokuBoxContainer {
  margin: 5% 5% 5% 5%;
}

.sudokuBox {
  display: inline-grid;
  border: 4px solid;
  cursor: pointer;
}

.row {
  height: 32px;
}

.box {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-color: #fcfbf4;
  border: 1px solid;
}

input {
  resize: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

textarea {
  resize: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

textarea:focus {
  background-color: #f9f4c7;
  color: transparent;
  text-shadow: 0px 0px 0px #666;
}
textarea::-moz-selection {
  background: #f9f4c7;
}
textarea::selection {  
  background: #f9f4c7;
}

.row:nth-child(3n+4) {
  border-top: 2px solid;
}

.box:nth-child(3n+4) {
  border-left: 2px solid;
}
